<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="IP_Attribute">
      <th mat-header-cell *matHeaderCellDef> IP Attribute Name </th>
      <td mat-cell *matCellDef="let element"> {{element.IP_Attribute}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="IP_Property">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.IP_Property}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  