<mat-card style="text-align: center;">
    <mat-card-content>
        Public IP Info
        <mat-slide-toggle class="example-margin" [checked]="checked" 
        (change)="checkFunction()">
				Enabled: {{checked}}
			</mat-slide-toggle>
    </mat-card-content>

    <ng-container *ngIf="checked">
        <p *ngIf="clientIP">{{clientIP}}</p>
        <button (click)="getClientIP()" mat-raised-button color="primary">
            Get Public IP Information
        </button>
    </ng-container>
</mat-card>