<mat-card style="text-align: center;">
    <mat-card-content>
        Random Cat
        <mat-slide-toggle class="example-margin" [checked]="checked" 
        (change)="checked = !checked">
				Enabled: {{checked}}
			</mat-slide-toggle>
    </mat-card-content>

    <ng-container *ngIf="checked">
        <img *ngIf="cats" mat-card-image src="{{cats}}" />
        <button (click)="myFunc()" mat-raised-button color="primary">
            Click for Cats!
        </button>
    </ng-container>
</mat-card>